/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Montserrat:wght@300;400&family=Ubuntu:wght@300&display=swap'); */

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* font-family: 'Josefin Sans', sans-serif; */
}

body {
  background: #f3f3f3;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 40%;
  /* background: linear-gradient(to right, #01a9ac, #01dbdf); */
  background: linear-gradient(to right, #048692, #0691a7);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 180px;
}

.wrapper .left h1 {
  /* My Name */
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-bottom: 2px solid rgb(10, 176, 176);
}

.wrapper .left h3 {
  margin-bottom: 50px;
  /* font-size: 12px; */

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.wrapper .left p {
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(246, 244, 185);
}

.wrapper .right {
  width: 65%;
  background: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px 25px;
  background-color: rgb(245, 246, 228);
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  /* border-bottom: 1px solid #e0e0e0; */
  border-bottom: 1px solid rgb(180, 176, 176);
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: rgb(80, 79, 79);
  /* color: #136bc3; */
}

.wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #048692, #0691a7);
  margin-right: 10px;
  border-radius: 15px;
  line-height: 45px;
  text-align: center;
  }

.wrapper .social_media ul li a {
  /* color: #fff; */
  /* color: rgb(246, 244, 185); */
  color: rgb(22, 52, 52);
  display: block;
  font-size: 20px;
  /* margin-bottom: 0px; */
}

.wrapper .social_media ul li a:hover,
.wrapper .social_media ul li:hover{
  color: blue;

  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #bac0a6, #a8a63b);
  border-radius: 15px;
}

@media only screen and (max-width: 700px) {
  body {
    display: inline-flexbox !important;
  }
}

/* @media (orientation: landscape) {
  body {
    flex-direction: row;
  }
} */

/* @media (orientation: portrait) {
  body {
    
  }
} */
